/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

/* General Styles */
body {
    margin: 0;
    font-family: 'Oxanium', sans-serif;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
}

main {
    flex: 1; /* Permite que el contenido principal ocupe el espacio disponible */
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgb(0, 0, 0); 
    border: 1px solid; /* Añadimos un borde */
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0)) 1; /* Borde degradado con transparencia */
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-title {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.navbar-right .nav-link {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar-right .nav-link:hover {
    background-color: white;
    color: black;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;  /* Oculta el botón de menú en pantallas grandes */
    border: none;
    color: white;
    cursor: pointer;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 48rem) {
    .menu-toggle {
        display: block; /* Muestra el botón hamburguesa */
    }

    .navbar-right {
        display: none; /* Oculta el menú por defecto */
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.6); /* Fondo negro con transparencia */
        position: absolute;
        top: 100%;
        right: 0;
        left: 50%;
        width: 80%;
        transform: translateX(-50%);
        text-align: center;
        padding: 10px 0;
        border-radius: 0.5rem;
        border: 1px solid; /* Añadimos un borde */
        border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0)) 1; /* Borde degradado con transparencia */
    }

    .navbar-right.active {
        display: flex; /* Muestra el menú cuando se active */
    }

    .nav-link {
        display: block;
        padding: 10px;
        border: none;
    }
}

/* HEADER CONTAINER */

.header-container {
    position: absolute;
    top: 50px; /* Ajusta este valor para bajar el contenedor */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10; /* Asegura que el contenedor esté por encima del contenido del carousel */
}

.main-header {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 10px;
}

.sub-header {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
    font-weight: 300; /* Letra más fina */
}

.sub-sub-header {
    font-size: 1.25rem;
    color: white;
    font-weight: 300; /* Letra más fina */
}

/* HOME SECTION */ 

.carousel {
    position: relative;
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    height: 100%; /* Asegura que los elementos ocupen toda la altura */
    transition: transform 1s ease;
}

.carousel-item {
    min-width: 100%;
    height: 100%; /* Asegura que los elementos ocupen toda la altura */
    transition: opacity 1s ease;
}

.carousel-item video,
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el contenido para cubrir todo el contenedor */
    object-position: center; /* Centra el contenido dentro del contenedor */
    display: block;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-control.prev {
    left: 15px;
}

.carousel-control.next {
    right: 15px;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: white;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: gray;
}

.section { 
    text-align: center;
}

.home-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* SERVICES SECTION */

.services-section {
    padding: 50px 20px;
    background-color: black;
}

.services-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
}

.service-item {
    flex: 1;
    text-align: center;
    position: relative;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 8px;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Añadir transición para el sombreado */
    padding: 20px;
}

.service-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    transition: transform 0.3s ease; /* Añadir transición para el SVG */
}

.service-title {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
    font-weight: 600;
    transition: transform 0.3s ease; /* Añadir transición para el tamaño de la letra */
}

.service-description {
    font-size: 1rem;
    color: white;
    margin-bottom: 20px;
    text-align: center; /* Centrar el contenido del párrafo */
    transition: transform 0.3s ease; /* Añadir transición para el tamaño de la letra */
}

.service-item:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5); /* Sombreado blanco detrás al hacer hover */
}

.service-item:hover .service-icon {
    transform: scale(1.2); /* Agrandar el SVG al hacer hover */
}

.service-item:hover .service-title,
.service-item:hover .service-description {
    transform: scale(1.05); /* Agrandar el tamaño de la letra al hacer hover */
}



.portfolio-grid {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.project-card {
    position: relative;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 8px;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Añadir transición para el sombreado */
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: brightness(50%) blur(2px);
}

.project-card h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    z-index: 2;
    pointer-events: none; /* Evita que el texto interfiera con el hover */
}

.project-card:hover h3 {
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 1);
}

.project-card:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5); /* Sombreado blanco detrás al hacer hover */
}

.project-card:hover img {
    transform: scale(1.1);
    filter: brightness(100%) blur(0);
}

/*  ABOUT ME */

.about-section {
    padding: 40px;
    text-align: center;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Left section styles */
.about-left {
    text-align: left;
}

.about-left h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.about-left p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

/* Right section styles */
.about-right {
    text-align: left;
}

.about-right h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.about-right ul {
    list-style-type: disc;
    padding-left: 0px;
}

.about-right li {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 0.5rem;
}

/* CONTACT */

.contact-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Añadir una sombra al formulario */
    transition: transform 0.3s ease;
}

.contact-form:hover {
    transform: scale(1.02); /* Aumentar ligeramente el tamaño al hacer hover */
}

.contact-form input, .contact-form textarea {
    width: calc(100% - 22px); /* Dejar espacio a los lados */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 5px;
    background: none;
    color: white;
    font-family: inherit;
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Añadir transición para el borde y la sombra */
}

.contact-form input:focus, .contact-form textarea:focus {
    border-color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Añadir sombra al enfocar */
    outline: none; /* Quitar el borde de enfoque predeterminado */
}

.contact-form button {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Añadir transición para el fondo, el color y la transformación */
    padding: 10px 15px; /* Añadir un poco de relleno */
    border: 1px solid white;
    border-radius: 5px;
}

.contact-form button:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
    transform: scale(1.05); /* Aumentar ligeramente el tamaño al hacer hover */
}

/* FOOTER */

.footer {
    text-align: center;
    padding: 20px;
    background-color: black;
    border-top: 1px solid white;
}

.footer a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: gray;
}

.footer-text {
    margin-top: 10px;
}